@page "/Events/{EventId:guid}"

@inject EventManager EventManager

<h3>Event</h3>
@if (!_initialized)
{
    <span>Loaing event...</span>
}
else if (_event is null)
{
    <span>Event not found.</span>
}
else
{
    @_event.Name
}


@code {
    private bool _initialized = false;
    private Event? _event;
    
    [Parameter]
    public Guid EventId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _event = await EventManager.GetEvent(EventId);
        _initialized = true;
    }
}