@using MudBlazor.Utilities
<AuthorizeView>
    <Authorized>
        <MudLink href="Identity/Account/Manage" Color="Color.Inherit">Hello, @context.User.Identity?.Name!</MudLink>
        <form method="post" action="Identity/Account/Logout">
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Inherit">Log Out</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudButton Href="Identity/Account/Register" Color="Color.Inherit">Register</MudButton>
        <MudButton Href="Identity/Account/Login" Color="Color.Inherit">Log In</MudButton>
    </NotAuthorized>
</AuthorizeView>
