@page "/CreateEvent"
@using GroupFlowTickets.Data.Models
@using GroupFlowTickets.EventHandling

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<h3>CreateEvent</h3>

<MudButton OnClick="CreateNewEvent">Create Test Event</MudButton>

@code {
    private static int _testNumber = 0;

    private Event GenerateTestEvent() => new()
    {
        StartDateTime = DateTime.Now,
        Name = $"Test #{++_testNumber}",
    };

    private void CreateNewEvent()
    {
        var newEvent = GenerateTestEvent();

        using (var database = DbContextFactory.CreateDbContext())
        {
            database.Events.Add(newEvent);
            database.SaveChanges();
        }

        EventEvents.RaiseEventCreated(this, newEvent);
    }
}