@page "/Events"
@using GroupFlowTickets.Pages.EventManagement.Components
@using GroupFlowTickets.Services

@implements IDisposable

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject EventManager EventManager

<h3>Events</h3>

<EventsTable Events="_events"/>

@code {
    private List<Event> _events = new();
    
    protected override void OnInitialized()
    {
        RefreshEvents();

        EventManager.EventCreated += OnEventCreated;
    }

    private void RefreshEvents()
    {
        using var database = DbContextFactory.CreateDbContext();
        _events = database.Events.OrderBy(e => e.StartDateTime).ToList();
    }

    private void OnEventCreated(EventEventArgs e)
    {
        _events.Add(e.Event);

        InvokeAsync(StateHasChanged);
    }
    
    public void Dispose()
    {
        EventManager.EventCreated -= OnEventCreated;
    }
}