@page "/Events"

@using GroupFlowTickets.EventHandling
@using GroupFlowTickets.Pages.EventManagement.Components

@implements IDisposable

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<h3>Events</h3>

<EventsTable Events="_events"/>

@code {
    private List<Event> _events = new();
    
    protected override void OnInitialized()
    {
        RefreshEvents();

        EventEvents.EventCreated += OnEventCreated;
    }

    private void RefreshEvents()
    {
        using var database = DbContextFactory.CreateDbContext();
        _events = database.Events.OrderBy(e => e.StartDateTime).ToList();
    }

    private void OnEventCreated(object sender, EventEventArgs e)
    {
        _events.Add(e.Event);

        InvokeAsync(StateHasChanged);
    }
    
    public void Dispose()
    {
        EventEvents.EventCreated -= OnEventCreated;
    }
}